[user]
	name = Scott Roberson
	email = sroberson@gmail.com
[alias]
	st = status
	cm = commit
[core]
	excludesfile = /Users/scottr/.gitexcludes
	autocrlf = input
	safecrlf = false
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[push]
	default = simple
